App_WebReferences/localhost/dbWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DetailsSoapIn">
    <wsdl:part name="parameters" element="tns:Details" />
  </wsdl:message>
  <wsdl:message name="DetailsSoapOut">
    <wsdl:part name="parameters" element="tns:DetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="dbWebServiceSoap">
    <wsdl:operation name="Details">
      <wsdl:input message="tns:DetailsSoapIn" />
      <wsdl:output message="tns:DetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbWebServiceSoap" type="tns:dbWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Details">
      <soap:operation soapAction="http://tempuri.org/Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dbWebServiceSoap12" type="tns:dbWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Details">
      <soap12:operation soapAction="http://tempuri.org/Details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dbWebService">
    <wsdl:port name="dbWebServiceSoap" binding="tns:dbWebServiceSoap">
      <soap:address location="http://localhost:51354/wsTest3/dbWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="dbWebServiceSoap12" binding="tns:dbWebServiceSoap12">
      <soap12:address location="http://localhost:51354/wsTest3/dbWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>